In [1]:
# code NAICS Code for Gyms = 713940
# Dependencies and Setup
import pandas as pd
import numpy as np

from functools import reduce

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

# File to Load 
Biz_DTL = "Data/CensusBizStats.csv"
Inc_DTL = "Data/CensusIncomeStats.csv"
Race_DTL = "Data/CensusRaceStats.csv"
Zip_DTL = "Data/NYC_Zips.csv"
gym_DTL = "Data/zbp16detail.csv"
Coord_DTL = "Data/zip_lat_lng.csv"


# # Read Data File and store into Pandas Data Frames
biz_data = pd.read_csv(Biz_DTL)
inc_data = pd.read_csv(Inc_DTL)
race_data = pd.read_csv(Race_DTL)
zip_data = pd.read_csv(Zip_DTL)
gym_data = pd.read_csv(gym_DTL)
coord_data = pd.read_csv(Coord_DTL)

In [4]:


gym_data3.head(5)

       Zip   naics  est
492   1001  713940    1
1025  1002  713940    3
2129  1010  713940    1
2685  1013  713940    1
3240  1020  713940    3

In [9]:
# # Subset and Filter Gym data on 3 col and NAICS code for gyms = 713940
gym_data2 = gym_data[['Zip','naics','est']]
gym_data3 = gym_data2[gym_data2.naics == '713940']

# Merge the dataframes into one 
data_frames = [zip_data,gym_data3,inc_data,race_data,coord_data]

nyc_gym_DF = reduce(lambda  left,right: pd.merge(left,right,on=['Zip'],
                                           how='left'), data_frames).dropna()

nyc_gym_DF.sort

In [13]:
nyc_gym_DF.sort_values(by=['Neighborhood','Zip'], inplace=True)
nyc_gym_DF.head(15)

     Borough               Neighborhood    Zip   naics  est  Median Income  White Pop  Afr Am Pop  Asian Pop  Native Am Pacific Pop  Other Pop  Multi Race Pop        Lat        Lng              Location
33  Brooklyn               Borough Park  11204  713940  2.0          47341    46888.0       891.0    25264.0                    0.0        0.0          1305.0  40.618756 -73.984896  40.618756,-73.984896
34  Brooklyn               Borough Park  11218  713940  1.0          64152    43954.0      6272.0    15129.0                    0.0        0.0          3061.0  40.643505 -73.976297  40.643505,-73.976297
35  Brooklyn               Borough Park  11219  713940  3.0          37665    62415.0      1065.0    23062.0                    0.0        0.0          1115.0  40.632676 -73.996924  40.632676,-73.996924
36  Brooklyn               Borough Park  11230  713940  3.0          46013    62650.0      6595.0    12784.0                    0.0        0.0          1773.0  40.622192 -73.964843  40.622192,-73.964843
3      Bronx     Bronx Park and Fordham  10458  713940  2.0          32129    16315.0     17243.0     2330.0                   31.0       31.0          3822.0  40.862549 -73.888064  40.862549,-73.888064
4      Bronx     Bronx Park and Fordham  10467  713940  5.0          35381    21948.0     36295.0     6120.0                   53.0       53.0          3974.0  40.869940 -73.865716   40.86994,-73.865716
5      Bronx     Bronx Park and Fordham  10468  713940  1.0          35398    10362.0     16180.0     2735.0                    9.0        9.0          3117.0  40.868966 -73.900099  40.868966,-73.900099
59  Brooklyn  Bushwick and Williamsburg  11206  713940  8.0          34122    40751.0     23547.0     6028.0                   47.0       47.0          3213.0  61.328428 -66.494043  61.328428,-66.494043
60  Brooklyn  Bushwick and Williamsburg  11221  713940  2.0          47170    23617.0     43466.0     3135.0                   16.0       16.0          2599.0  68.193321 -60.176610   68.193321,-60.17661
61  Brooklyn  Bushwick and Williamsburg  11237  713940  1.0          51269    23952.0      8906.0     4205.0                   24.0       24.0          1600.0  62.476577 -71.056504  62.476577,-71.056504
37  Brooklyn     Canarsie and Flatlands  11234  713940  7.0          79490    41216.0     45387.0     5926.0                    9.0        9.0          1428.0  40.606434 -73.909839  40.606434,-73.909839
38  Brooklyn     Canarsie and Flatlands  11236  713940  3.0          63700     5973.0     87124.0     2767.0                    0.0        0.0          1132.0  40.639438 -73.900666  40.639438,-73.900666
0      Bronx              Central Bronx  10453  713940  1.0          24421     7514.0     26277.0     1472.0                   41.0       41.0          1929.0  40.852806 -73.912127  40.852806,-73.912127
25  Brooklyn           Central Brooklyn  11212  713940  1.0          25677     5428.0     68660.0      988.0                    8.0        8.0          1733.0  40.662930 -73.913275   40.66293,-73.913275
26  Brooklyn           Central Brooklyn  11213  713940  2.0          40604    14378.0     44560.0     1627.0                    0.0        0.0          1944.0  40.671065 -73.936190   40.671065,-73.93619

In [14]:
Export = nyc_gym_DF.to_json (r'C:\Users\ecamb\OneDrive\Desktop\Coding\DataVizProject\nyc_gym_DF.json')

In [15]:
Export